body {
  margin: 0;
  color: #fff;
}
a {
  text-decoration: none;
  color: #0178fe;
}
header {
  display: flex;
  height: 20vh;
  background-color: #fc3251;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0178fe;
  border-radius: 0.3rem 0.3rem 0 0;
  flex-direction: column;
}

.card-header .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.card-header .subtitle {
  display: flex;
  align-items: center;
}

.card-header .subtitle img {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}

.card-header .subtitle h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.card-body {
  padding: 0.5rem;
  background-color: #f6f7f9;
  /* border-radius: 0 0 10px 10px; */
  color: #7d8789;
}

.card-body ul {
  border-radius: 0.2rem;
  padding: 5px;
  list-style: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-color: #f5f4f4;
}

.card-body li {
  margin: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
